
body,html{
    font-family: 'Montserrat Alternates', sans-serif;
    text-align: center;
    background-image: url(/Background.gif);
    background-attachment: fixed;
    background-color: rgb(214,232,235); 
    color:black;
    font-size: 10px;
    font-weight: bolder;
    background-position:left 0% top 100px;
    padding: 10px;
    background-size: 60% 60%;
    background-repeat: no-repeat;
}
.btn-primary{
  background-color: #A74A42;
  border: none;
  border-radius: 10px;
  color: white;
  padding: 5px 5px;
  text-decoration: none;
  grid-template-columns: repeat(3, 200px);
  font-size: 20px;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: lighter;
}
#btnScore{
    color:black;
}
.game-box{
    background-color: rgb(245, 244, 241 .08);
    box-shadow: 0 10px 10px rgba(0,0,0,0.19), 0 6px 6px rgba(0.,0,0,0.23);
    border-radius: 10px;
    height: 100vh;
    width:  100vw;
    margin-left: 40%;
    margin-bottom: 20px;
    margin-top: 0px;
}
.answer-item{
    background: rgb(223, 201, 7);
    width: 90%;
    display: inline-block;
    border-radius:8px;
    padding: 3px;
}
.text-info{
    color: brown;
}
#title-item{
   color:darkblue;
   font-size: 30px;
}
#btn-start{
    border:none;
	padding:6px 0 6px 0;
	border-radius:8px;
	background:#A74A42;
    font:bold 20px;
	color:#fff;

}

#code-title{
    text-align: center;
    font-weight: bold;
    font-size: 2.5em;
    color:#4E3647;
}

#info{
    color:#C5B552;

}
#h8{
    color:white;
    font-weight: bolder;
    font-family: 'Josefin Sans', sans-serif;
}
#timecounter{
    color: darkslateblue;
    font-size: 30px;
}
#alert{
    color: rgb(154, 40, 6);
    font-size: 30px;
    font-family: 'Rock Salt', cursive;
    text-align: center;
    padding-top: 5px;
}
