/* setting up boxing sizing for all the element */
*, *::before, *::after{
    /* makes it so height and width are easier to style */
    box-sizing: border-box;
    /* sets font family */
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
/* Define the colors for my css */
:root {
    --hue-nuetral: 200;
    --hue-wrong: 0;
    --hue-correct: 145;
}
/* style the body of the HTML */
body {
    --hue: var(--hue-nuetral);
    padding:0;
    margin: 0;
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: cornflowerblue;
}
/* set up colors for correct answers */
body.correct{
    --hue: var(--hue-correct);
}
/* set up colors for the wrong answers */
body.wrong{
    --hue: var(--hue-correct);
} 
/* Design the container */
.container {
    width: 800px;
    max-width: 80%;
    background-color: aliceblue;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0  10px 2px;
}
/* aligns the buttons in columns and spaces them out */
.btn-grid {
    display: grid;
    grid-template-columns: repeat(2,auto);
    gap: 10px;
    margin: 20px 0;
}
/* this is design the colors and borders of the button */
.btn {
    --hue: var(--hue-nuetral);
    border: 1px solid hsl(var(--hue), 100%, 30%);
    background-color: hsl(var(--hue),100%, 50%);
    border-radius: 5px;
    padding: 5px 10px;
    color: white;
    outline: none; 
}
/* this is creating an effect when you hover over the button */
.btn:hover {
    border-color: crimson;  
}
/* this changes the color when  you get the answer correct */
.btn.correct{
    --hue: var(--hue-correct);
    color: black;
}
/* this changes the color when you get the answer wrong */
.btn.wrong {
    --hue: var(--hue-wrong):
}
/* this styles the start and next buttons */
.start-btn, .next-btn {
    font-size: 1.5rem;
    font-weight: bold;
    padding: 10px 20px;
}
/* this centers the button although the start is not center having a hard time figuring that out.  */
.controls {
    display:flex; 
    justify-content:center;
    align-items: center;
}
/* this hides and buttons with the class hide */
.hide {
    display: none;  
}
